body {
	font-family: 'ABeeZee';
	border-radius:10px; 
}

div {
	/*border:1px solid black;*/
	border-radius:10px; 
}
.main {
	display: flex;
}

.top_panel {
	height:15vh;
    width:100%;
    display: flex;
    font-size:30px;
}

.side_panel {
	height:85vh;
	width:20%;
	/*background-color: red;*/
}
.main_screen {
	height:85vh;
	width:60%;
  background-color: white;
	/*background-color: #EBEBEB;*/
	border-radius:15px; 
}

.main_screen_bar {
	height:auto;
	width:100%;
	color:black;
	text-align: center;
	display: flex; 
	flex-direction: row; 
	/*background-color: #EBEBEB;*/
}

.options {
	padding:10px;
	text-align:left;
	width:10%;
	height:100vh;
}

.globe_icon {
	padding:10px;
	text-align:center;
	width:80%;
	height:100vh;
}

.meta_world {
	padding:10px;
	text-align:right;
	width:10%;
	height:100vh;
	font-size:15px;

}

.green-color {
	color: #38BB09;
}

.search {
	font-family: 'ABeeZee';
	width: 60%;
	font-size:25px;
	background-color:#EBEBEB;
	border-radius:10px;
	display: flex; 
	padding:20px;
	text-align: center;
}

.location {
	padding:10px;
	width:20%;
}

.agenda {
	display:flex;
}

button {
	font-family: 'ABeeZee';
	width: 100%;
	font-size:25px;
	background-color:#EBEBEB;
	border-radius:10px; 
}

text {
	width:90%;
	background-color: white;
	padding: 10px;
	border-radius:10px; 

}

.font_25 {
	font-size:25px;
}

.font_15 {
	font-size:15px;
}

.font_10 {
	font-size:10px;
}

.agenda_item {
	font-family: 'ABeeZee';
	font-size:35px;
	background-color:#EBEBEB;

	padding: 20px;
}

.agenda_side_panel {
	/*height:85vh;*/
	width:25%;
}

.agenda_main_panel {
	width:50%;
	height:100%;
	/*background-color:rgba(70, 153, 223, 0.1);*/
}

img {
	height:60%;
	border-radius:10px; 
}


/*Valentine addition*/

.page_main_panel {
	width:100%;
	height:100%;
}
.page_item {
	font-family: 'ABeeZee';
	font-size:35px;
	background-color:#EBEBEB; 
	padding: 20px;
}

.fill {
  position: relative;
  min-width: 100px;
  min-height: 100px;
  justify-content: center;
  align-items: center;
/*background-color: blue;*/
  border-width: 0px 1px 1px 1px;
  border-color: rgb(230, 236, 240);
  border-style: solid;
  overflow: hidden;
}


.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.bottom-banner {
	opacity:50%;
	position: absolute;
	display: flex;
	width: 100%;
	height: 60px;
	bottom: 3.5px;
	padding:10px;
	text-align:left;
	font-weight: bold;
	letter-spacing: .5px;
	/*background-color: yellow;*/
	align-items: flex-end;
  }



.blue-color {
	color: blue;
}


.page_item_flex {
	font-family: 'ABeeZee';
	font-size:35px;
	background-color:#EBEBEB;
	display: flex;
	/*height: 130px;*/
	padding: 20px;
	flex-direction: column;
}


.agenda_block {
}

.agenda_elt {
	height: 50px;
  width: 100%;
	background-color:rgba(242, 242, 242, 0.8);
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	align-items:center;

}

