body {
	font-family: 'ABeeZee';
	border-radius:10px; 
}

div {
	border:1px solid black;
	border-radius:10px; 
}
.main {
	/*display: flex;*/
	/*text-align: center;*/
}

.top_panel {
	height:15vh;
    width:100%;
    /*background-color: blue;*/
    display: flex;
    font-size:30px;
}

/*.side_panel {
	height:85vh;
	width:20%;
	background-color: red;
}*/

.main_screen {
	height:85vh;
	width:60%;
	background-color: #EBEBEB;
	border-radius:15px; 
	margin: 0 auto;
	/*display: inline-block;*/
}

.main_screen_bar {
	height:85vh;
	width:100%;
	color:black;
	text-align: center;
	display: flex; 
	background-color: #EBEBEB;
}

.options {
	padding:10px;
	text-align:left;
	width:10%;
	height:100vh;
}

.globe_icon {
	padding:10px;
	text-align:center;
	width:80%;
	height:100vh;
}

.meta_world {
	padding:10px;
	text-align:right;
	width:10%;
	height:100vh;
	font-size:15px;

}

.green-color {
	color: #38BB09;
}

.search {
	font-family: 'ABeeZee';
	width: 60%;
	font-size:25px;
	background-color:rgba(70, 153, 223, 0.1);
	border-radius:10px;
	display: flex; 
	padding:20px;
	text-align: center;
}

.location {
	padding:10px;
	width:20%;
}

.agenda {
	display:flex;
}

button {
	font-family: 'ABeeZee';
	width: 100%;
	font-size:25px;
	background-color:rgba(70, 153, 223, 0.1);
	border-radius:10px; 
}

text {
	width:90%;
	background-color: white;
	padding: 10px;
	border-radius:10px; 

}

.font_25 {
	font-size:25px;
}

.font_15 {
	font-size:15px;
}

.font_10 {
	font-size:10px;
}

.agenda_item {
	font-family: 'ABeeZee';
	font-size:35px;
	background-color:rgba(70, 153, 223, 0.1);
	/*display: flex;*/
	/*height: 130px;*/
	padding: 20px;
}

/*.agenda_side_panel {
	height:85vh;
	width:25%;
}*/

.agenda_main_panel {
	width:50%;
	height:100%;
	margin: 0 auto;
	/*background-color:rgba(70, 153, 223, 0.1);*/
}

img {
	height:60%;
	border-radius:10px; 
}
