body {
	font-family: 'ABeeZee';
}

.main {
	display: flex;
}

.top_panel {
	height:15vh;
    width:100%;
    /*background-color: blue;*/
    display: flex;
    font-size:30px;
}

.side_panel {
	height:85vh;
	width:20%;
	/*background-color: red;*/
}
.main_screen {
	height:85vh;
	width:60%;
	background-color: #EBEBEB;
	border-radius:15px;  
}

.main_screen_bar {
	height:85vh;
	width:100%;
	color:black;
	text-align: center;
}

.options {
	padding:10px;
	text-align:left;
	width:5%;
	height:100vh;
}

.globe_icon {
	padding:10px;
	text-align:center;
	width:85%;
	height:100vh;
}

.meta_world {
	padding:10px;
	text-align:right;
	width:10%;
	height:100vh;
	font-size:15px;

}

.green-color {
	color: #38BB09;
}

button {
	font-family: 'ABeeZee';
	width: 60%;
	font-size:35px;
	background-color:rgba(70, 153, 223, 0.1);
	border-radius:10px; 
}
