<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mai Agendas</title>
    <!-- To connect the css stle sheet -->
    <link rel="stylesheet" href="../static/css/styles.css">

    <script src="https://kit.fontawesome.com/844fa76e70.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
</head>
<body>
		<div class="top_panel">
			<div class="options">
			<i class="fa fa-bars" aria-hidden="true"></i>
			</div>
			<div class="globe_icon">
				<i class="fas fa-globe-americas green-color"></i>
			</div>
			<div class="meta_world">
				<i class="fas fa-toggle-on" style="color: #38BB09"></i>
				<p>meta-world</p>
			</div>
		</div>
		<div class="main">
			<div class="side_panel"></div>
			<div class="main_screen">
				<div class="main_screen_bar">
					<div class="agenda_side_panel"></div>
					<div class="agenda_main_panel">
						<div>
						<h1>m<span class="green-color">ai </span>agenda</h1>
						<i class="fa fa-calendar font_15" aria-hidden="true"></i>
						<p class="font_15">Sunday Dec 12, 2021</p>
						</div>
						<div style="text-align: center">
							<div class="agenda_item">
								<img src="../static/images/restaurant_1.png">
								<i class="fas fa-bookmark font_25"></i>
								<br>
								<span class="font_15">00:09:00 : breakfast at Il Gianfornaio</span>
								<p class="font_10">Search on Google Maps</p>
							</div>

							<br><br>
							<div class="agenda_item">
								<img src="../static/images/agenda_2.png">
								<i class="far fa-bookmark font_25"></i>
								<br>	
								<span class="font_15">00:09:00 : Check out the Colloseum!</span>
								<p class="font_10">Search on Google Maps</p>
							</div>
						</div>
					</div>
					<div class="agenda_side_panel"></div>
				</div>
			</div>
			<div class="side_panel"></div>
		</div>
</body>
</html>
