<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/front_page.css">
        <link rel="stylesheet" href="fontawesome-free-5.15.1-web/css/all.css">
    </head>
    <body>
        <div id="navigation" class="container">
            <button id="back-button"><i class="fas fa-arrow-left fa-lg"></i></button>
            <span>
                Tweet
            </span>
        </div>
      
        <div id="tweet" class="container">
            <article role="article" data-focusible="true" tabindex="0">
              
                <div class="tweet-head space-evenly">
                    <div class="author-tag space-evenly">
                        <img class="user-icon" src="img/voteorg.jpg">
                        <div>
                            <span class="profile-name">VOTE.org</span>
                            <br>
                            <span class="twitter-handle">@votedotorg</span>
                        </div>
                    </div>
                    <button class="more-options-button">
                      <i class="fas fa-ellipsis-h fa-lg"></i>
                    </button>
                </div>
              
                <div class="tweet-body">
                    &#128140; Have questions about voting by mail?
                    <br>
                    <br>
                    &#128499; Request your mail-in ballot and get both <a href="">#VoteReady</a>
                    <img src="img/US_Election_2020_NVRD.png"> and <a href="">#MailReady</a> at <a href="http://Vote.org">http://Vote.org</a>!
                </div>
              
                <div class="tweet-image-container">
                </div>
                <div class="tweet-timestamp">
                </div>
                <div class="tweet-discussion">
                </div>
                <div class="tweet-sharing">
                </div>
            </article>
        </div>
      
        <div id="replies" class="container">
        </div>
    </body>
</html>
