<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mai Agendas</title>
    <!-- To connect the css stle sheet -->
    <link rel="stylesheet" href="../static/css/front_page.css">

    <script src="https://kit.fontawesome.com/844fa76e70.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
</head>
<body>
		<div class="top_panel">
			<div class="options">
			<i class="fa fa-bars" aria-hidden="true"></i>
			</div>
			<div class="globe_icon">
				<i class="fas fa-globe-americas green-color"></i>
			</div>
			<div class="meta_world">
				<i class="fas fa-toggle-on" style="color: #38BB09"></i>
				<p>meta-world</p>
			</div>
		</div>
		<div class="main">
			<div class="side_panel"></div>
			<div class="main_screen">
				<div class="main_screen_bar">
					<div class="agenda_side_panel"></div>
					<div class="page_main_panel">   
						<div style="text-align: center">
							<div class="page_item">
                                <div class="fill">
                                    <img src="../static/images/map_snippet.png">
                                    <div class="bottom-banner">
                                        <span class="font_25" id="bottom">hotspots</span>
                                        <i class="fa fa-fire-alt font_25 blue-color " aria-hidden="true"></i>
                                    </div>
                                </div>		
							</div>

							<br>
							<div class="page_item_flex">
                                <div class="agenda-block">      
                                    <i class="fa fa-calendar font_15" aria-hidden="true"></i>
                                    <p class="font_25">m<span class="green-color">ai </span>agenda</p>
                                    <p class="font_10">Custom daily travel plan, just for you</p>
                                    <br>
                                </div>
                                <div class="agenda_elt font_15">00:09:00 : breakfast at Il Gianfornaio</div>
                                <div class="agenda_elt font_15">00:11:30 : Visit the Roman Former Colloseum</div>
                                <div class="agenda_elt font_15">00:12:30 : Lunch at the Caffé Fiorella</div>
							</div>
                            <br>
                            <div class="page_item">
                                <div class="agenda-block">
                                    <i class="fa fa-calendar font_15" aria-hidden="true"></i>
                                    <p class="font_25">recs for m<span class="green-color">ai </span>trips...</p>                                 
                                </div>
								<p class="font_15">Swipe for language tools</p>
							</div>
						</div>
					</div>
					<div class="agenda_side_panel"></div>
				</div>
			</div>
			<div class="side_panel"></div>
		</div>
</body>
</html>
