<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hotspots</title>
    <!-- To connect the css stle sheet -->
    <link rel="stylesheet" href="../static/css/styles.css">

    <script src="https://kit.fontawesome.com/844fa76e70.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
</head>

<body>
	<div class="top_panel">
		<div class="options">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</div>
		<div class="globe_icon">
			<i class="fas fa-globe-americas green-color"></i>
		</div>
		<div class="meta_world">
			<i class="fas fa-toggle-on" style="color: #38BB09"></i>
			<p>meta-world</p>
		</div>
	</div>

	<div class="main_screen">
		<div class="main_screen_panel">
			<div>
				<img class="map_img" src="../static/images/map1.png">	
			</div>
			<div>
				<img class="map_img" src="../static/images/hotspot_panel.png">
			</div>
		</div>
	</div>

</body>






